body {
  background-color: #ADD8E6;
}
h1 {
  color: #00008B;
  font-family: Arial, sans-serif;
}

div.marquee {
  white-space:no-wrap;
  overflow:hidden;
}
div.marquee > div.marquee-text {
  white-space:nowrap;
  display:inline;
  width:auto;
}
.title_background{
  background-color: #ADD8E6;
  font-size: 22px;
  text-decoration-color: brown;
}
.marquee_info{
  margin-left: 112px; 
  font-size: 28px;
  vertical-align: center;
}
canvas {
  border: 1px solid black;
}